<nav>
  <% if logged_in? %>

    <h4>Welcome, <%=current_user.first_name %></h4>
    <h3>Buying Power: <%=current_user.balance %> FlatCoins</h3>
    <a class="btn btn-primary" href="/trade" role="button">Trade NOW</a>

  <% else %>
    <h2>Trade Cryptocurrencies. Make Money!</h2>
    <p>Build your portfolio and react to the markets in real time. Compete against your friends or coworkers to earn your spot at the top of the leaderboards.</p>
    <h2>Sign up NOW and earn $10000 Flatcoins Instantly!</h2>
    <a class="btn btn-primary" href="/signup" role="button">Sign Up NOW!</a>
  <%end %>

</nav>

<h2>Top 20 Cryptocurrency Prices by Market Cap</h2>
<% Api.new.get_top_20_cryptocurrencies %>
<table>
  <tr>
    <th>#</th>
    <th>Coin</th>
    <th>Price</th>
  </tr>
  <% Cryptocurrency.all.each.with_index(1) do |cryptocurrency, index| %>
    <tr>
    <td><%= index %></td>
    <td><%= cryptocurrency.name %></td>
    <td><%= cryptocurrency.current_price %></td>
    </tr>
  <% end %>
</table>
