<h2><%=current_user.first_name %>,</h2>
<h3>You bought <%= @trade.quantity %> share(s) of <%= @trade.coin_name %> at an average price of <%= @trade.current_price %> FlatCoins on <%= @trade.created_at %>.</h3>
<h3><%=@updated_coin.name %> is currently trading at <%=@updated_coin.current_price %> FlatCoins. Do you want to sell your current position of <%= @trade.quantity %> share(s)?</h3>
<h3>Your new Buying Power will be <%=@new_balance%> FlatCoins.</h3>

<form method="post" action="/trades/sell/<%=@trade.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="hidden" value="<%=@new_balance%>" name="new_balance" >
  <input type="submit" value="Yes, sell my whole position now!">
</form>